GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=meta-llama/llama-4-maverick-17b-128e-instruct

# true for headless, false for visible preview (used with noVNC in Docker)
BROWSER_USE_HEADLESS=false

# AGENT_TASK=...
AGENT_MAX_STEPS=100000

IN_DOCKER=true
BROWSER_USE_CHROME_NO_SANDBOX=1
